/* body {
  background-color: #e5e8e8 !important;
} */
/* .container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e8e8;
} */
.login-container {
  max-width: 900px;
  height: 100vh;
}
.logo {
  width: 300px;
}

.login-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/img_pages/vibraco-card02.jpg");
  background-position: unset;
}

.login-box {
  background-image: linear-gradient(
    130deg,
    rgb(240, 161, 42) 35%,
    rgb(240, 82, 193) 100%
  );
  object-fit: contain;
  background-position: center;
  border-radius: 7px 0 0 7px;
  position: relative;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.image-title {
  position: absolute;
  font-family: "Roboto", serif;
  font-weight: 200;
  font-style: italic;
  bottom: 10%;
}

.form-column {
  border-radius: 0 7px 7px 0;
}
/* .main-container {
  background: rgb(215, 228, 232);
  background: linear-gradient(
    180deg,
    rgba(215, 228, 232, 1) 10%,
    rgba(255, 255, 255, 1) 100%
  );
} */

.form-check-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

a.text-decoration-none {
  text-decoration: none;
  color: #06021f;
}
.img-carousel {
  width: 300px;
}

.send-info-container {
  padding-left: 12px;
  padding-right: 12px;
  background: rgb(25, 27, 26);
}

#video-vibraco {
  filter: brightness(0.5);
  width: 100%;
  height: 550px;
  object-fit: cover;
  object-position: center center;
}

#gif-vibraco {
  width: 100%;
  height: 370px;
  object-fit: cover;
  object-position: center center;
}

.producto-lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.producto {
  text-align: center;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease;
}

.cardComp:hover {
  transform: scale(1.1);
  transition: 200ms;
  border-color: greenyellow;
}
.cardBtn:hover {
  background: green;
}

.producto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.producto p {
  margin: 10px 0;
  font-size: 16px;
}

.producto button {
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.producto button:hover {
  background-color: #000000;
}
.divisor {
  height: 200px;
  text-align: center;
}

.cart-btn {
  border: none;
  border-radius: 5px;
  background-color: lightgrey;
}
.links-navbar-container {
  /* cambiar a posteriori */
  //font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 17px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.links-navbar-container:hover {
  color: #599de5;
}

.home-logo {
  width: 80px;
}

.buyList {
  list-style: none;
}

.cartTitle {
  width: 100%;
}

.btnBuy {
  height: 50vh;
}

.video-section {
  position: relative;
}
.text-video {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
  color: white;
  width: 500px;
  transform: translate(-50%, -11.75rem);
}

.logo-video {
  width: 350px;
}

.title-video {
  font-size: 2.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.carousel-container {
  width: 95%;
}

@media screen and (max-width: 992px) {
  .pickup-col {
    border-top: 2px solid white;
  }

  .send-info-container {
    max-width: 400px;
  }
}

@media screen and (min-width: 992px) {
  .pickup-col {
    border-left: 2px solid white;
  }
}

.cartBtn {
  color: rgb(79, 81, 79);
  font-size: 20px;
  font-weight: bold;
}

.shippingNav {
  font-size: 13px;
  padding-left: 25px;
}
.msg-container {
  background: rgb(25, 27, 26);
}
.cards-section {
  overflow: hidden;
}

.product-quantity-input {
  width: 25px;
  text-align: center;
  margin: 0px;
  border-radius: 5px;
}

.footer {
  background: rgb(25, 27, 26);
}

.ws-back {
  background: rgb(25, 27, 26);
}
.btnPlusMin {
  height: 26px;
  width: 30px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
}

.btnBuyCart {
  background: rgb(168, 56, 193) !important;
}

.bgCartTitle {
  background: linear-gradient(
    200deg,
    rgba(240, 136, 10, 0.8) 20%,
    rgba(180, 19, 198, 0.8) 80%
  ) !important;
}
